@{
    ViewData["Title"] = "Account Activated";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<body class="bg-light">
<div class="container padding-tick">
                <div class="row">
                    <div class="col-12 my-auto">
                        <div class="text-center">
                            <div class="d-flex justify-content-center bg-soft-primary rounded-circle mx-auto">
                                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_vfi0uavw.json" background="transparent"  speed="1"  style="width: 90px; height: 90px;"  autoplay></lottie-player>
                            </div>
                            <h1 class="my-4 fw-bold">Thank You !</h1>
                            <p class="text-muted para-desc mx-auto">Your account has been activated.</p>
                            <a href="@Url.Action("Index","Home")" class="btn btn-success mt-3">Go To Home</a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
</div>

            <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

            </body>