@model User
@using LoginFinal.HelpingClasses
@inject GeneralPurpose gp
@{
    User loggedinUser = gp.ValidateLoggedinUser();
}
@{
    ViewBag.Title = "Update Password";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    string wx=null;
    if(loggedinUser.Role==3)
    {
        wx = "Seller";
    }
    else
    {
        wx = "Buyer";
    }
}

<form asp-controller="@wx" asp-action="PostUpdatePassword" method="post">
    
    
    <section class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 mb-md-0 mb-3">
                  <div class="bg-white rounded shadow-sm py-3 sidebar-fix">
                     <div class="dropdown-menu-show">
                        <a class="dropdown-item py-2 active" href="#">Edit Security</a>
                     </div>
                  </div>
               </div>
        <div class="col-lg-9">
                    
                  <div class="bg-white rounded shadow-sm sidebar-page-right">
                     <div>
                        <div class="p-3 border-bottom">
                                <form>
                              <div class="row d-flex align-items-center form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">Current Password<span class="text-danger mr-1">*</span> :</p>
                                 </div>
                                 <div class="col-md-8">
                                    <input type="password" name="oldPassword" class="form-control font-weight-bold text-muted">
                                      @if(ViewBag.chn==2)
                                    {
                               <p class="text-danger pt-2">Your current password does not match with old one.</p>
                               ViewBag.chn = 0;
                                }
                                 </div>
                                
                              </div>
                              <div class="row d-flex align-items-center form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">New Password :</p>
                                 </div>
                                 <div class="col-md-8">
                                    <input id="npassword" type="password" name="newPassword" class="form-control font-weight-bold text-muted">
                                 </div>
                              </div>
                              <div class="row d-flex align-items-center form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-md-5 mb-0">Confirm Password :</p>
                                 </div>
                                 <div class="col-md-8">
                                    <input type="password" name="confirmPassword" onkeyup="matchPassword(this.value)" class="form-control font-weight-bold text-muted">
                                    <span class="text-danger" id="errMsg" style="display:none">New and Confirm Password did not match</span>
                                            @if (ViewBag.Message != "")
                                            {
                                               
                                                <span style="color:@ViewBag.Color">@ViewBag.Message</span>
                                            }
                                        </div>
                                   
                              </div>
                              

                              <div class="text-right">
                                 <button type="submit" id="subBtn" class="btn btn-success">Save Changes</button>
                              </div>
                           </form>
                        </div>
                       <!--  <div class="p-3 border-bottom">
                           <form>
                              <div class="row form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">PHONE VERIFICATION</p>
                                 </div>
                                 <div class="col-md-8">
                                    <p class="text-muted">Your phone is not verified with Miver. Click Verify Now to complete phone verification</p>
                                    <p class="text-right"><a href="#" class="btn btn-success">Verify Now</a></p>
                                 </div>
                              </div>
                              <div class="row form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">SECURITY QUESTION</p>
                                 </div>
                                 <div class="col-md-8">
                                    <p class="text-muted">By creating a security question, you will add an additional layer of protection for your revenue withdrawals and for changing your password.</p>
                                    <p class="text-right"><a href="#" class="btn btn-success">Set</a></p>
                                 </div>
                              </div>
                              <div class="row form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">TWO FACTOR AUTHENTICATION</p>
                                    <span class="small font-weight-bold text-success">RECOMMENDED</span>
                                 </div>
                                 <div class="col-md-8">
                                    <div class="custom-control custom-switch">
                                       <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                       <label class="custom-control-label" for="customSwitch1"></label>
                                    </div>
                                    <p class="text-muted">To help keep your account secure, we'll ask you to submit a code when using a new device to log in. We'll send the code via email or Miver notification. <a href="#" class="text-success">Verify your mobile phone</a> to be able to receive the code via SMS.</p>
                                 </div>
                              </div>
                           </form>
                        </div> -->
                       <!--  <div class="p-3">
                           <p class="text-muted font-weight-bold mb-0">CONNECTED DEVICES</p>
                           <div class="d-flex align-items-center p-4 border rounded mt-3">
                              <div class="icon">
                                 <h3 class="mb-0"><i class="fa fa-laptop" aria-hidden="true"></i></h3>
                              </div>
                              <div class="text ml-4">
                                 <p class="h6 font-weight-bold text-muted">Chrome 85, Windows <span class="text-success small font-weight-bold">THIS DEVICE</span></p>
                                 <p class="mb-0 text-muted">Last Activity 49 Minutes Ago • Ludhiana, India</p>
                              </div>
                              <div class="ml-auto sign-out">
                                 <p class="h6 font-weight-bold"><a href="" class="text-success">Sign Out</a></p>
                              </div>
                           </div>
                        </div> -->
                     </div>
                  </div>
               </div>
                </div>
               </div>
      </section>
      </form>


      <script>

    function matchPassword(confirmPw)
    {
        var newPw = $('#npassword').val();
        if (newPw != confirmPw)
        {
            $('#errMsg').attr("style","display:block");
            $('#subBtn').attr("disabled", true);
        }
        else {
            $('#errMsg').attr("style","display:none");
            $('#subBtn').attr("disabled", false);
        }
    }


</script>


